set_location RS232_RX_i_ibuf_RNIAONE 12 26 6 # SB_LUT4 (LogicCell: RS232_RX_i_ibuf_RNIAONE_LC_0)
set_location my_uart.recv_state_RNI4O0M9[2] 7 26 2 # SB_LUT4 (LogicCell: my_uart.recv_state_RNI4O0M9[2]_LC_1)
set_location my_uart.recv_state_RNIAONE_0[1] 11 28 3 # SB_LUT4 (LogicCell: my_uart.recv_state_RNIAONE_0[1]_LC_2)
set_location my_uart.recv_state_RNIAONE[1] 11 25 6 # SB_LUT4 (LogicCell: my_uart.recv_state_RNIAONE[1]_LC_3)
set_location my_uart.recv_state_RNIF559[1] 7 26 4 # SB_LUT4 (LogicCell: my_uart.recv_state_RNIF559[1]_LC_4)
set_location my_uart.recv_state_RNIG81F7[1] 11 25 1 # SB_LUT4 (LogicCell: my_uart.recv_state_RNIG81F7[1]_LC_5)
set_location my_uart.recv_state_RNIOPND_0[1] 12 26 4 # SB_LUT4 (LogicCell: my_uart.recv_state_RNIOPND_0[1]_LC_6)
set_location my_uart.recv_state_RNIOPND[1] 11 25 3 # SB_LUT4 (LogicCell: my_uart.recv_state_RNIOPND[1]_LC_7)
set_location my_uart.recv_state_RNIOPND_1[1] 11 25 2 # SB_LUT4 (LogicCell: my_uart.recv_state_RNIOPND_1[1]_LC_8)
set_location my_uart.recv_state_RNO[0] 11 28 1 # SB_LUT4 (LogicCell: my_uart.recv_state[0]_LC_9)
set_location my_uart.recv_state[0] 11 28 1 # SB_DFF (LogicCell: my_uart.recv_state[0]_LC_9)
set_location my_uart.recv_state_RNO_0[0] 11 28 0 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_0[0]_LC_10)
set_location my_uart.recv_state_RNO_0[1] 11 27 0 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_0[1]_LC_11)
set_location my_uart.recv_state_RNO_0[2] 12 26 5 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_0[2]_LC_12)
set_location my_uart.recv_state_RNO[1] 11 27 1 # SB_LUT4 (LogicCell: my_uart.recv_state[1]_LC_13)
set_location my_uart.recv_state[1] 11 27 1 # SB_DFF (LogicCell: my_uart.recv_state[1]_LC_13)
set_location my_uart.recv_state_RNO_1[0] 10 27 1 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_1[0]_LC_14)
set_location my_uart.recv_state_RNO_1[1] 11 27 3 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_1[1]_LC_15)
set_location my_uart.recv_state_RNO_1[2] 12 26 3 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_1[2]_LC_16)
set_location my_uart.recv_state_RNO[2] 12 26 0 # SB_LUT4 (LogicCell: my_uart.recv_state[2]_LC_17)
set_location my_uart.recv_state[2] 12 26 0 # SB_DFF (LogicCell: my_uart.recv_state[2]_LC_17)
set_location my_uart.recv_state_RNO_2[0] 12 27 5 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_2[0]_LC_18)
set_location my_uart.recv_state_RNO_2[1] 12 27 3 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_2[1]_LC_19)
set_location my_uart.recv_state_RNO_2[2] 11 27 5 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_2[2]_LC_20)
set_location my_uart.recv_state_RNO_3[0] 12 27 0 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_3[0]_LC_21)
set_location my_uart.recv_state_RNO_3[1] 11 27 7 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_3[1]_LC_22)
set_location my_uart.recv_state_RNO_3[2] 12 26 2 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_3[2]_LC_23)
set_location my_uart.recv_state_RNO_4[0] 10 28 6 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_4[0]_LC_24)
set_location my_uart.recv_state_RNO_4[1] 11 27 2 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_4[1]_LC_25)
set_location my_uart.recv_state_RNO_4[2] 11 27 4 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_4[2]_LC_26)
set_location my_uart.recv_state_RNO_5[0] 10 27 3 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_5[0]_LC_27)
set_location my_uart.recv_state_RNO_5[1] 11 27 6 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_5[1]_LC_28)
set_location my_uart.recv_state_RNO_5[2] 12 26 1 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_5[2]_LC_29)
set_location my_uart.recv_state_RNO_6[0] 10 27 0 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_6[0]_LC_30)
set_location my_uart.recv_state_RNO_7[0] 12 27 7 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_7[0]_LC_31)
set_location my_uart.recv_state_RNO_8[0] 11 26 0 # SB_LUT4 (LogicCell: my_uart.recv_state_RNO_8[0]_LC_32)
set_location my_uart.rx_countdown_3_cry_0_s1_c 11 26 0 # SB_CARRY (LogicCell: my_uart.recv_state_RNO_8[0]_LC_32)
set_location my_uart.recv_state_cnst_2_0_.m6_0_18_0 11 28 5 # SB_LUT4 (LogicCell: my_uart.recv_state_cnst_2_0_.m6_0_18_0_LC_33)
set_location my_uart.recv_state_cnst_2_0_.m6_0_18_a4_1 12 27 4 # SB_LUT4 (LogicCell: my_uart.recv_state_cnst_2_0_.m6_0_18_a4_1_LC_34)
set_location my_uart.recv_state_cnst_2_0_.m6_0_18_a4_1_2 12 25 0 # SB_LUT4 (LogicCell: my_uart.recv_state_cnst_2_0_.m6_0_18_a4_1_2_LC_35)
set_location my_uart.rx_bits_remaining_RNINFUH[1] 12 25 4 # SB_LUT4 (LogicCell: my_uart.rx_bits_remaining_RNINFUH[1]_LC_36)
set_location my_uart.rx_bits_remaining_RNO[0] 12 25 3 # SB_LUT4 (LogicCell: my_uart.rx_bits_remaining[0]_LC_37)
set_location my_uart.rx_bits_remaining[0] 12 25 3 # SB_DFFE (LogicCell: my_uart.rx_bits_remaining[0]_LC_37)
set_location my_uart.rx_bits_remaining_RNO_0[3] 7 25 0 # SB_LUT4 (LogicCell: my_uart.rx_bits_remaining_RNO_0[3]_LC_38)
set_location my_uart.rx_bits_remaining_RNO[1] 12 25 1 # SB_LUT4 (LogicCell: my_uart.rx_bits_remaining[1]_LC_39)
set_location my_uart.rx_bits_remaining[1] 12 25 1 # SB_DFFE (LogicCell: my_uart.rx_bits_remaining[1]_LC_39)
set_location my_uart.rx_bits_remaining_RNO_1[3] 7 25 7 # SB_LUT4 (LogicCell: my_uart.rx_bits_remaining_RNO_1[3]_LC_40)
set_location my_uart.rx_bits_remaining_RNO[2] 12 25 5 # SB_LUT4 (LogicCell: my_uart.rx_bits_remaining[2]_LC_41)
set_location my_uart.rx_bits_remaining[2] 12 25 5 # SB_DFFE (LogicCell: my_uart.rx_bits_remaining[2]_LC_41)
set_location my_uart.rx_bits_remaining_RNO_2[3] 7 25 6 # SB_LUT4 (LogicCell: my_uart.rx_bits_remaining_RNO_2[3]_LC_42)
set_location my_uart.rx_bits_remaining_RNO[3] 7 25 1 # SB_LUT4 (LogicCell: my_uart.rx_bits_remaining[3]_LC_43)
set_location my_uart.rx_bits_remaining[3] 7 25 1 # SB_DFF (LogicCell: my_uart.rx_bits_remaining[3]_LC_43)
set_location my_uart.rx_bits_remaining_RNO_3[3] 7 26 5 # SB_LUT4 (LogicCell: my_uart.rx_bits_remaining_RNO_3[3]_LC_44)
set_location my_uart.rx_bits_remaining_RNO_4[3] 7 25 4 # SB_LUT4 (LogicCell: my_uart.rx_bits_remaining_RNO_4[3]_LC_45)
set_location my_uart.rx_bits_remaining_RNO_5[3] 7 25 5 # SB_LUT4 (LogicCell: my_uart.rx_bits_remaining_RNO_5[3]_LC_46)
set_location my_uart.rx_bits_remaining_RNO_6[3] 11 26 7 # SB_LUT4 (LogicCell: my_uart.rx_bits_remaining_RNO_6[3]_LC_47)
set_location my_uart.rx_clk_divider_RNIF1TF[7] 10 25 3 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider_RNIF1TF[7]_LC_48)
set_location my_uart.rx_clk_divider_RNIIMPV[3] 9 27 6 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider_RNIIMPV[3]_LC_49)
set_location my_uart.rx_clk_divider_RNIKT1U[10] 9 26 3 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider_RNIKT1U[10]_LC_50)
set_location my_uart.rx_clk_divider_RNIU7NL2[9] 10 26 5 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider_RNIU7NL2[9]_LC_51)
set_location my_uart.rx_clk_divider_RNO[0] 9 25 0 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider[0]_LC_52)
set_location my_uart.rx_clk_divider[0] 9 25 0 # SB_DFF (LogicCell: my_uart.rx_clk_divider[0]_LC_52)
set_location my_uart.rx_clk_divider_1_cry_0_c 9 25 0 # SB_CARRY (LogicCell: my_uart.rx_clk_divider[0]_LC_52)
set_location my_uart.rx_clk_divider_RNO[1] 9 26 4 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider[1]_LC_53)
set_location my_uart.rx_clk_divider[1] 9 26 4 # SB_DFF (LogicCell: my_uart.rx_clk_divider[1]_LC_53)
set_location my_uart.rx_clk_divider_RNO[10] 9 26 2 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider[10]_LC_54)
set_location my_uart.rx_clk_divider[10] 9 26 2 # SB_DFF (LogicCell: my_uart.rx_clk_divider[10]_LC_54)
set_location my_uart.rx_clk_divider_RNO[2] 9 26 7 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider[2]_LC_55)
set_location my_uart.rx_clk_divider[2] 9 26 7 # SB_DFF (LogicCell: my_uart.rx_clk_divider[2]_LC_55)
set_location my_uart.rx_clk_divider_RNO[3] 9 27 1 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider[3]_LC_56)
set_location my_uart.rx_clk_divider[3] 9 27 1 # SB_DFF (LogicCell: my_uart.rx_clk_divider[3]_LC_56)
set_location my_uart.rx_clk_divider_RNO[4] 9 27 2 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider[4]_LC_57)
set_location my_uart.rx_clk_divider[4] 9 27 2 # SB_DFF (LogicCell: my_uart.rx_clk_divider[4]_LC_57)
set_location my_uart.rx_clk_divider_RNO[5] 9 27 4 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider[5]_LC_58)
set_location my_uart.rx_clk_divider[5] 9 27 4 # SB_DFF (LogicCell: my_uart.rx_clk_divider[5]_LC_58)
set_location my_uart.rx_clk_divider_RNO[6] 9 27 3 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider[6]_LC_59)
set_location my_uart.rx_clk_divider[6] 9 27 3 # SB_DFF (LogicCell: my_uart.rx_clk_divider[6]_LC_59)
set_location my_uart.rx_clk_divider_RNO[7] 10 25 6 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider[7]_LC_60)
set_location my_uart.rx_clk_divider[7] 10 25 6 # SB_DFF (LogicCell: my_uart.rx_clk_divider[7]_LC_60)
set_location my_uart.rx_clk_divider_RNO[8] 9 26 5 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider[8]_LC_61)
set_location my_uart.rx_clk_divider[8] 9 26 5 # SB_DFF (LogicCell: my_uart.rx_clk_divider[8]_LC_61)
set_location my_uart.rx_clk_divider_RNO[9] 9 26 6 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider[9]_LC_62)
set_location my_uart.rx_clk_divider[9] 9 26 6 # SB_DFF (LogicCell: my_uart.rx_clk_divider[9]_LC_62)
set_location my_uart.rx_countdown_3_cry_0_s1_c_RNIE18B 11 26 1 # SB_LUT4 (LogicCell: my_uart.rx_countdown_3_cry_0_s1_c_RNIE18B_LC_63)
set_location my_uart.rx_countdown_3_cry_1_s1_c 11 26 1 # SB_CARRY (LogicCell: my_uart.rx_countdown_3_cry_0_s1_c_RNIE18B_LC_63)
set_location my_uart.rx_countdown_3_cry_1_s1_c_RNIG7IL 11 26 2 # SB_LUT4 (LogicCell: my_uart.rx_countdown_3_cry_1_s1_c_RNIG7IL_LC_64)
set_location my_uart.rx_countdown_3_cry_2_s1_c 11 26 2 # SB_CARRY (LogicCell: my_uart.rx_countdown_3_cry_1_s1_c_RNIG7IL_LC_64)
set_location my_uart.rx_countdown_3_cry_2_s1_c_RNIIDSF 11 26 3 # SB_LUT4 (LogicCell: my_uart.rx_countdown_3_cry_2_s1_c_RNIIDSF_LC_65)
set_location my_uart.rx_countdown_3_cry_3_s1_c 11 26 3 # SB_CARRY (LogicCell: my_uart.rx_countdown_3_cry_2_s1_c_RNIIDSF_LC_65)
set_location my_uart.rx_countdown_3_cry_3_s1_c_RNIKJ6A 11 26 4 # SB_LUT4 (LogicCell: my_uart.rx_countdown_3_cry_3_s1_c_RNIKJ6A_LC_66)
set_location my_uart.rx_countdown_3_cry_4_s1_c 11 26 4 # SB_CARRY (LogicCell: my_uart.rx_countdown_3_cry_3_s1_c_RNIKJ6A_LC_66)
set_location my_uart.rx_countdown_3_cry_4_s1_c_RNIMPGK 11 26 5 # SB_LUT4 (LogicCell: my_uart.rx_countdown_3_cry_4_s1_c_RNIMPGK_LC_67)
set_location my_uart.rx_countdown_RNI80VC[5] 11 25 7 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNI80VC[5]_LC_68)
set_location my_uart.rx_countdown_RNIDTTP_0[2] 10 26 7 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNIDTTP_0[2]_LC_69)
set_location my_uart.rx_countdown_RNIDTTP[2] 10 25 7 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNIDTTP[2]_LC_70)
set_location my_uart.rx_countdown_RNIEMHI6[2] 11 25 0 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNIEMHI6[2]_LC_71)
set_location my_uart.rx_countdown_RNIH36N1[0] 7 26 0 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNIH36N1[0]_LC_72)
set_location my_uart.rx_countdown_RNIH36N1_0[0] 11 25 4 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNIH36N1_0[0]_LC_73)
set_location my_uart.rx_countdown_RNIJ5KS3[5] 10 26 6 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNIJ5KS3[5]_LC_74)
set_location my_uart.rx_countdown_RNIK53C3[3] 10 27 7 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNIK53C3[3]_LC_75)
set_location my_uart.rx_countdown_RNINCD63[4] 10 27 5 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNINCD63[4]_LC_76)
set_location my_uart.rx_countdown_RNIPOKB5[0] 7 26 1 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNIPOKB5[0]_LC_77)
set_location my_uart.rx_countdown_RNIRGTL2[0] 11 25 5 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNIRGTL2[0]_LC_78)
set_location my_uart.rx_countdown_RNO[0] 11 26 6 # SB_LUT4 (LogicCell: my_uart.rx_countdown[0]_LC_79)
set_location my_uart.rx_countdown[0] 11 26 6 # SB_DFF (LogicCell: my_uart.rx_countdown[0]_LC_79)
set_location my_uart.rx_countdown_RNO_0[2] 10 26 2 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNO_0[2]_LC_80)
set_location my_uart.rx_countdown_RNO_0[5] 10 25 1 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNO_0[5]_LC_81)
set_location my_uart.rx_countdown_RNO[1] 10 26 1 # SB_LUT4 (LogicCell: my_uart.rx_countdown[1]_LC_82)
set_location my_uart.rx_countdown[1] 10 26 1 # SB_DFFSS (LogicCell: my_uart.rx_countdown[1]_LC_82)
set_location my_uart.rx_countdown_RNO_1[2] 12 26 7 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNO_1[2]_LC_83)
set_location my_uart.rx_countdown_RNO[2] 10 26 3 # SB_LUT4 (LogicCell: my_uart.rx_countdown[2]_LC_84)
set_location my_uart.rx_countdown[2] 10 26 3 # SB_DFFSR (LogicCell: my_uart.rx_countdown[2]_LC_84)
set_location my_uart.rx_countdown_RNO_2[2] 10 27 6 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNO_2[2]_LC_85)
set_location my_uart.rx_countdown_RNO[3] 10 27 4 # SB_LUT4 (LogicCell: my_uart.rx_countdown[3]_LC_86)
set_location my_uart.rx_countdown[3] 10 27 4 # SB_DFF (LogicCell: my_uart.rx_countdown[3]_LC_86)
set_location my_uart.rx_countdown_RNO_3[2] 10 28 2 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNO_3[2]_LC_87)
set_location my_uart.rx_countdown_RNO[4] 10 27 2 # SB_LUT4 (LogicCell: my_uart.rx_countdown[4]_LC_88)
set_location my_uart.rx_countdown[4] 10 27 2 # SB_DFF (LogicCell: my_uart.rx_countdown[4]_LC_88)
set_location my_uart.rx_countdown_RNO_4[2] 10 25 5 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNO_4[2]_LC_89)
set_location my_uart.rx_countdown_RNO[5] 10 25 2 # SB_LUT4 (LogicCell: my_uart.rx_countdown[5]_LC_90)
set_location my_uart.rx_countdown[5] 10 25 2 # SB_DFF (LogicCell: my_uart.rx_countdown[5]_LC_90)
set_location my_uart.rx_countdown_RNO_5[2] 10 25 0 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNO_5[2]_LC_91)
set_location my_uart.rx_countdown_RNO_6[2] 10 25 4 # SB_LUT4 (LogicCell: my_uart.rx_countdown_RNO_6[2]_LC_92)
set_location my_uart.rx_data_0_THRU_LUT4_0 7 27 0 # SB_LUT4 (LogicCell: my_uart.rx_data[0]_LC_93)
set_location my_uart.rx_data[0] 7 27 0 # SB_DFFE (LogicCell: my_uart.rx_data[0]_LC_93)
set_location my_uart.rx_data_1_THRU_LUT4_0 7 27 6 # SB_LUT4 (LogicCell: my_uart.rx_data[1]_LC_94)
set_location my_uart.rx_data[1] 7 27 6 # SB_DFFE (LogicCell: my_uart.rx_data[1]_LC_94)
set_location my_uart.rx_data_2_THRU_LUT4_0 7 27 3 # SB_LUT4 (LogicCell: my_uart.rx_data[2]_LC_95)
set_location my_uart.rx_data[2] 7 27 3 # SB_DFFE (LogicCell: my_uart.rx_data[2]_LC_95)
set_location my_uart.rx_data_3_THRU_LUT4_0 7 27 5 # SB_LUT4 (LogicCell: my_uart.rx_data[3]_LC_96)
set_location my_uart.rx_data[3] 7 27 5 # SB_DFFE (LogicCell: my_uart.rx_data[3]_LC_96)
set_location my_uart.rx_data_4_THRU_LUT4_0 7 27 7 # SB_LUT4 (LogicCell: my_uart.rx_data[4]_LC_97)
set_location my_uart.rx_data[4] 7 27 7 # SB_DFFE (LogicCell: my_uart.rx_data[4]_LC_97)
set_location my_uart.rx_data_5_THRU_LUT4_0 7 27 2 # SB_LUT4 (LogicCell: my_uart.rx_data[5]_LC_98)
set_location my_uart.rx_data[5] 7 27 2 # SB_DFFE (LogicCell: my_uart.rx_data[5]_LC_98)
set_location my_uart.rx_data_6_THRU_LUT4_0 7 27 4 # SB_LUT4 (LogicCell: my_uart.rx_data[6]_LC_99)
set_location my_uart.rx_data[6] 7 27 4 # SB_DFFE (LogicCell: my_uart.rx_data[6]_LC_99)
set_location my_uart.rx_data_7_THRU_LUT4_0 7 27 1 # SB_LUT4 (LogicCell: my_uart.rx_data[7]_LC_100)
set_location my_uart.rx_data[7] 7 27 1 # SB_DFFE (LogicCell: my_uart.rx_data[7]_LC_100)
set_location my_uart.rx_clk_divider_1_cry_0_THRU_LUT4_0 9 25 1 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider_1_cry_0_THRU_LUT4_0_LC_101)
set_location my_uart.rx_clk_divider_1_cry_1_c 9 25 1 # SB_CARRY (LogicCell: my_uart.rx_clk_divider_1_cry_0_THRU_LUT4_0_LC_101)
set_location my_uart.rx_clk_divider_1_cry_1_THRU_LUT4_0 9 25 2 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider_1_cry_1_THRU_LUT4_0_LC_102)
set_location my_uart.rx_clk_divider_1_cry_2_c 9 25 2 # SB_CARRY (LogicCell: my_uart.rx_clk_divider_1_cry_1_THRU_LUT4_0_LC_102)
set_location my_uart.rx_clk_divider_1_cry_2_THRU_LUT4_0 9 25 3 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider_1_cry_2_THRU_LUT4_0_LC_103)
set_location my_uart.rx_clk_divider_1_cry_3_c 9 25 3 # SB_CARRY (LogicCell: my_uart.rx_clk_divider_1_cry_2_THRU_LUT4_0_LC_103)
set_location my_uart.rx_clk_divider_1_cry_3_THRU_LUT4_0 9 25 4 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider_1_cry_3_THRU_LUT4_0_LC_104)
set_location my_uart.rx_clk_divider_1_cry_4_c 9 25 4 # SB_CARRY (LogicCell: my_uart.rx_clk_divider_1_cry_3_THRU_LUT4_0_LC_104)
set_location my_uart.rx_clk_divider_1_cry_4_THRU_LUT4_0 9 25 5 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider_1_cry_4_THRU_LUT4_0_LC_105)
set_location my_uart.rx_clk_divider_1_cry_5_c 9 25 5 # SB_CARRY (LogicCell: my_uart.rx_clk_divider_1_cry_4_THRU_LUT4_0_LC_105)
set_location my_uart.rx_clk_divider_1_cry_5_THRU_LUT4_0 9 25 6 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider_1_cry_5_THRU_LUT4_0_LC_106)
set_location my_uart.rx_clk_divider_1_cry_6_c 9 25 6 # SB_CARRY (LogicCell: my_uart.rx_clk_divider_1_cry_5_THRU_LUT4_0_LC_106)
set_location my_uart.rx_clk_divider_1_cry_6_THRU_LUT4_0 9 25 7 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider_1_cry_6_THRU_LUT4_0_LC_107)
set_location my_uart.rx_clk_divider_1_cry_7_c 9 25 7 # SB_CARRY (LogicCell: my_uart.rx_clk_divider_1_cry_6_THRU_LUT4_0_LC_107)
set_location my_uart.rx_clk_divider_1_cry_7_THRU_LUT4_0 9 26 0 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider_1_cry_7_THRU_LUT4_0_LC_108)
set_location my_uart.rx_clk_divider_1_cry_8_c 9 26 0 # SB_CARRY (LogicCell: my_uart.rx_clk_divider_1_cry_7_THRU_LUT4_0_LC_108)
set_location my_uart.rx_clk_divider_1_cry_8_THRU_LUT4_0 9 26 1 # SB_LUT4 (LogicCell: my_uart.rx_clk_divider_1_cry_8_THRU_LUT4_0_LC_109)
set_location my_uart.rx_clk_divider_1_cry_9_c 9 26 1 # SB_CARRY (LogicCell: my_uart.rx_clk_divider_1_cry_8_THRU_LUT4_0_LC_109)
set_io CLK_i_ibuf_gb_io 0 16 1 # ICE_GB_IO
set_location GND -1 -1 -1 # GND
set_io LED_o_obuf[0] 7 33 1 # ICE_IO
set_io LED_o_obuf[1] 6 33 1 # ICE_IO
set_io LED_o_obuf[2] 5 33 1 # ICE_IO
set_io LED_o_obuf[3] 4 33 1 # ICE_IO
set_io LED_o_obuf[4] 4 33 0 # ICE_IO
set_io LED_o_obuf[5] 3 33 1 # ICE_IO
set_io LED_o_obuf[6] 3 33 0 # ICE_IO
set_io LED_o_obuf[7] 1 33 0 # ICE_IO
set_io RS232_RX_i_ibuf 24 33 0 # ICE_IO
set_location CONSTANT_ONE_LUT4 10 24 6 # SB_LUT4 (LogicCell: LC_110)
