set_location IN_MUX_bfv_9_25_0_ 9 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_26_0_ 9 26 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_26_0_ 11 26 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 10 24 6 #SB_LUT4
set_location my_uart.rx_clk_divider_1_cry_8_THRU_LUT4_0 9 26 1 #SB_LUT4
set_location my_uart.rx_clk_divider_1_cry_7_THRU_LUT4_0 9 26 0 #SB_LUT4
set_location my_uart.rx_clk_divider_1_cry_6_THRU_LUT4_0 9 25 7 #SB_LUT4
set_location my_uart.rx_clk_divider_1_cry_5_THRU_LUT4_0 9 25 6 #SB_LUT4
set_location my_uart.rx_clk_divider_1_cry_4_THRU_LUT4_0 9 25 5 #SB_LUT4
set_location my_uart.rx_clk_divider_1_cry_3_THRU_LUT4_0 9 25 4 #SB_LUT4
set_location my_uart.rx_clk_divider_1_cry_2_THRU_LUT4_0 9 25 3 #SB_LUT4
set_location my_uart.rx_clk_divider_1_cry_1_THRU_LUT4_0 9 25 2 #SB_LUT4
set_location my_uart.rx_clk_divider_1_cry_0_THRU_LUT4_0 9 25 1 #SB_LUT4
set_location my_uart.rx_data_7_THRU_LUT4_0 7 27 1 #SB_LUT4
set_location my_uart.rx_data_6_THRU_LUT4_0 7 27 4 #SB_LUT4
set_location my_uart.rx_data_5_THRU_LUT4_0 7 27 2 #SB_LUT4
set_location my_uart.rx_data_4_THRU_LUT4_0 7 27 7 #SB_LUT4
set_location my_uart.rx_data_3_THRU_LUT4_0 7 27 5 #SB_LUT4
set_location my_uart.rx_data_2_THRU_LUT4_0 7 27 3 #SB_LUT4
set_location my_uart.rx_data_1_THRU_LUT4_0 7 27 6 #SB_LUT4
set_location my_uart.rx_data_0_THRU_LUT4_0 7 27 0 #SB_LUT4
set_location my_uart.rx_countdown_RNO_3[2] 10 28 2 #SB_LUT4
set_location my_uart.rx_countdown[2] 10 26 3 #SB_DFFSR
set_location my_uart.rx_clk_divider_RNO[8] 9 26 5 #SB_LUT4
set_location my_uart.recv_state_RNO_3[1] 11 27 7 #SB_LUT4
set_location my_uart.rx_countdown_RNIH36N1[0] 7 26 0 #SB_LUT4
set_location my_uart.rx_clk_divider_1_cry_0_c 9 25 0 #SB_CARRY
set_location my_uart.recv_state_RNO_0[2] 12 26 5 #SB_LUT4
set_location my_uart.rx_countdown_3_cry_0_s1_c_RNIE18B 11 26 1 #SB_LUT4
set_location my_uart.rx_bits_remaining_RNO[0] 12 25 3 #SB_LUT4
set_location my_uart.rx_countdown_RNO[2] 10 26 3 #SB_LUT4
set_location my_uart.recv_state[0] 11 28 1 #SB_DFF
set_location my_uart.rx_countdown_3_cry_4_s1_c_RNIMPGK 11 26 5 #SB_LUT4
set_location my_uart.rx_countdown_3_cry_1_s1_c_RNIG7IL 11 26 2 #SB_LUT4
set_location my_uart.rx_clk_divider_RNIF1TF[7] 10 25 3 #SB_LUT4
set_location my_uart.rx_clk_divider[4] 9 27 2 #SB_DFF
set_location my_uart.rx_countdown_RNO_6[2] 10 25 4 #SB_LUT4
set_location my_uart.rx_clk_divider_RNO[2] 9 26 7 #SB_LUT4
set_location my_uart.recv_state_RNIOPND_0[1] 12 26 4 #SB_LUT4
set_location my_uart.rx_data[3] 7 27 5 #SB_DFFE
set_location my_uart.rx_countdown[3] 10 27 4 #SB_DFF
set_location my_uart.recv_state_RNO_5[0] 10 27 3 #SB_LUT4
set_location my_uart.recv_state_RNO_3[2] 12 26 2 #SB_LUT4
set_location my_uart.recv_state_RNIG81F7[1] 11 25 1 #SB_LUT4
set_location my_uart.recv_state_RNIAONE[1] 11 25 6 #SB_LUT4
set_location my_uart.recv_state_RNO_0[1] 11 27 0 #SB_LUT4
set_location my_uart.rx_countdown_3_cry_3_s1_c_RNIKJ6A 11 26 4 #SB_LUT4
set_location my_uart.rx_clk_divider_1_cry_9_c 9 26 1 #SB_CARRY
set_location my_uart.rx_clk_divider_1_cry_5_c 9 25 5 #SB_CARRY
set_location my_uart.rx_clk_divider_1_cry_3_c 9 25 3 #SB_CARRY
set_location my_uart.rx_bits_remaining_RNO[1] 12 25 1 #SB_LUT4
set_location my_uart.rx_bits_remaining_RNO_0[3] 7 25 0 #SB_LUT4
set_location my_uart.rx_bits_remaining[2] 12 25 5 #SB_DFFE
set_location my_uart.rx_countdown_RNO[3] 10 27 4 #SB_LUT4
set_location my_uart.rx_countdown_RNO_2[2] 10 27 6 #SB_LUT4
set_location my_uart.recv_state_RNO_4[2] 11 27 4 #SB_LUT4
set_location my_uart.recv_state[1] 11 27 1 #SB_DFF
set_location my_uart.rx_data[7] 7 27 1 #SB_DFFE
set_location my_uart.rx_countdown_RNI80VC[5] 11 25 7 #SB_LUT4
set_location my_uart.rx_countdown_3_cry_2_s1_c 11 26 2 #SB_CARRY
set_location my_uart.rx_clk_divider_RNIU7NL2[9] 10 26 5 #SB_LUT4
set_location my_uart.rx_clk_divider[3] 9 27 1 #SB_DFF
set_location my_uart.rx_bits_remaining_RNINFUH[1] 12 25 4 #SB_LUT4
set_location my_uart.rx_countdown_RNO[4] 10 27 2 #SB_LUT4
set_location my_uart.rx_countdown_RNIDTTP[2] 10 25 7 #SB_LUT4
set_location my_uart.rx_clk_divider_RNO[5] 9 27 4 #SB_LUT4
set_location my_uart.rx_data[2] 7 27 3 #SB_DFFE
set_location my_uart.recv_state_RNO_8[0] 11 26 0 #SB_LUT4
set_location my_uart.recv_state_RNO_5[1] 11 27 6 #SB_LUT4
set_location my_uart.recv_state_RNO[2] 12 26 0 #SB_LUT4
set_location my_uart.rx_bits_remaining_RNO_5[3] 7 25 5 #SB_LUT4
set_location my_uart.recv_state_RNO_0[0] 11 28 0 #SB_LUT4
set_location my_uart.rx_countdown_3_cry_3_s1_c 11 26 3 #SB_CARRY
set_location my_uart.rx_clk_divider[7] 10 25 6 #SB_DFF
set_location my_uart.rx_bits_remaining_RNO[2] 12 25 5 #SB_LUT4
set_location my_uart.rx_bits_remaining[3] 7 25 1 #SB_DFF
set_location my_uart.recv_state_RNO_2[1] 12 27 3 #SB_LUT4
set_location my_uart.rx_countdown_RNO[0] 11 26 6 #SB_LUT4
set_location my_uart.rx_countdown_3_cry_1_s1_c 11 26 1 #SB_CARRY
set_location my_uart.rx_clk_divider_RNO[1] 9 26 4 #SB_LUT4
set_location my_uart.rx_clk_divider[10] 9 26 2 #SB_DFF
set_location my_uart.recv_state_RNO_4[1] 11 27 2 #SB_LUT4
set_location my_uart.recv_state_RNO_1[0] 10 27 1 #SB_LUT4
set_location my_uart.recv_state[2] 12 26 0 #SB_DFF
set_location my_uart.rx_data[6] 7 27 4 #SB_DFFE
set_location my_uart.rx_countdown_RNO_0[2] 10 26 2 #SB_LUT4
set_location my_uart.rx_countdown[0] 11 26 6 #SB_DFF
set_location my_uart.rx_clk_divider[9] 9 26 6 #SB_DFF
set_location my_uart.rx_bits_remaining_RNO_4[3] 7 25 4 #SB_LUT4
set_location my_uart.rx_countdown_3_cry_0_s1_c 11 26 0 #SB_CARRY
set_location my_uart.rx_clk_divider[2] 9 26 7 #SB_DFF
set_location my_uart.recv_state_RNIAONE_0[1] 11 28 3 #SB_LUT4
set_location my_uart.rx_countdown_RNO[5] 10 25 2 #SB_LUT4
set_location my_uart.rx_countdown_RNO_1[2] 12 26 7 #SB_LUT4
set_location my_uart.rx_countdown_RNIEMHI6[2] 11 25 0 #SB_LUT4
set_location my_uart.rx_clk_divider_RNO[4] 9 27 2 #SB_LUT4
set_location my_uart.rx_data[1] 7 27 6 #SB_DFFE
set_location my_uart.rx_clk_divider_1_cry_6_c 9 25 6 #SB_CARRY
set_location my_uart.rx_countdown[4] 10 27 2 #SB_DFF
set_location my_uart.recv_state_RNO_7[0] 12 27 7 #SB_LUT4
set_location my_uart.recv_state_RNIOPND_1[1] 11 25 2 #SB_LUT4
set_location my_uart.rx_clk_divider[6] 9 27 3 #SB_DFF
set_location my_uart.rx_clk_divider_1_cry_1_c 9 25 1 #SB_CARRY
set_location my_uart.rx_bits_remaining_RNO[3] 7 25 1 #SB_LUT4
set_location my_uart.rx_bits_remaining[0] 12 25 3 #SB_DFFE
set_location my_uart.recv_state_cnst_2_0_.m6_0_18_0 11 28 5 #SB_LUT4
set_location my_uart.recv_state_RNO_2[0] 12 27 5 #SB_LUT4
set_location my_uart.rx_countdown_RNO[1] 10 26 1 #SB_LUT4
set_location my_uart.rx_countdown_RNIJ5KS3[5] 10 26 6 #SB_LUT4
set_location my_uart.rx_countdown_3_cry_2_s1_c_RNIIDSF 11 26 3 #SB_LUT4
set_location my_uart.rx_clk_divider_RNO[10] 9 26 2 #SB_LUT4
set_location my_uart.rx_clk_divider_RNO[0] 9 25 0 #SB_LUT4
set_location my_uart.rx_clk_divider_RNIIMPV[3] 9 27 6 #SB_LUT4
set_location my_uart.rx_clk_divider_1_cry_4_c 9 25 4 #SB_CARRY
set_location my_uart.recv_state_cnst_2_0_.m6_0_18_a4_1_2 12 25 0 #SB_LUT4
set_location my_uart.recv_state_RNO_4[0] 10 28 6 #SB_LUT4
set_location my_uart.recv_state_RNO_1[1] 11 27 3 #SB_LUT4
set_location my_uart.rx_data[5] 7 27 2 #SB_DFFE
set_location my_uart.rx_countdown[1] 10 26 1 #SB_DFFSS
set_location my_uart.rx_clk_divider_RNO[9] 9 26 6 #SB_LUT4
set_location my_uart.rx_clk_divider[8] 9 26 5 #SB_DFF
set_location my_uart.rx_clk_divider_1_cry_8_c 9 26 0 #SB_CARRY
set_location my_uart.recv_state_cnst_2_0_.m6_0_18_a4_1 12 27 4 #SB_LUT4
set_location my_uart.recv_state_RNO_5[2] 12 26 1 #SB_LUT4
set_location my_uart.recv_state_RNO_3[0] 12 27 0 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location my_uart.rx_clk_divider[1] 9 26 4 #SB_DFF
set_location my_uart.rx_clk_divider_RNO[7] 10 25 6 #SB_LUT4
set_location my_uart.rx_bits_remaining_RNO_6[3] 11 26 7 #SB_LUT4
set_location my_uart.rx_data[0] 7 27 0 #SB_DFFE
set_location my_uart.rx_countdown_RNO_4[2] 10 25 5 #SB_LUT4
set_location my_uart.rx_countdown_RNIRGTL2[0] 11 25 5 #SB_LUT4
set_location my_uart.recv_state_RNO[0] 11 28 1 #SB_LUT4
set_location my_uart.rx_countdown_RNO_0[5] 10 25 1 #SB_LUT4
set_location my_uart.rx_countdown_RNIDTTP_0[2] 10 26 7 #SB_LUT4
set_location my_uart.rx_countdown[5] 10 25 2 #SB_DFF
set_location RS232_RX_i_ibuf_RNIAONE 12 26 6 #SB_LUT4
set_location my_uart.rx_countdown_RNO_5[2] 10 25 0 #SB_LUT4
set_location my_uart.rx_countdown_RNINCD63[4] 10 27 5 #SB_LUT4
set_location my_uart.rx_countdown_3_cry_4_s1_c 11 26 4 #SB_CARRY
set_location my_uart.rx_clk_divider_RNIKT1U[10] 9 26 3 #SB_LUT4
set_location my_uart.rx_clk_divider[5] 9 27 4 #SB_DFF
set_location my_uart.rx_clk_divider_1_cry_2_c 9 25 2 #SB_CARRY
set_location my_uart.rx_bits_remaining_RNO_2[3] 7 25 6 #SB_LUT4
set_location my_uart.rx_bits_remaining[1] 12 25 1 #SB_DFFE
set_location my_uart.rx_countdown_RNIH36N1_0[0] 11 25 4 #SB_LUT4
set_location my_uart.rx_clk_divider_RNO[3] 9 27 1 #SB_LUT4
set_location my_uart.recv_state_RNIOPND[1] 11 25 3 #SB_LUT4
set_location my_uart.recv_state_RNI4O0M9[2] 7 26 2 #SB_LUT4
set_location my_uart.rx_data[4] 7 27 7 #SB_DFFE
set_location my_uart.recv_state_RNO_6[0] 10 27 0 #SB_LUT4
set_location my_uart.rx_countdown_RNIK53C3[3] 10 27 7 #SB_LUT4
set_location my_uart.rx_clk_divider[0] 9 25 0 #SB_DFF
set_location my_uart.rx_clk_divider_RNO[6] 9 27 3 #SB_LUT4
set_location my_uart.rx_bits_remaining_RNO_3[3] 7 26 5 #SB_LUT4
set_location my_uart.rx_countdown_RNIPOKB5[0] 7 26 1 #SB_LUT4
set_location my_uart.recv_state_RNO_1[2] 12 26 3 #SB_LUT4
set_location my_uart.recv_state_RNO[1] 11 27 1 #SB_LUT4
set_location my_uart.recv_state_RNIF559[1] 7 26 4 #SB_LUT4
set_location my_uart.rx_clk_divider_1_cry_7_c 9 25 7 #SB_CARRY
set_location my_uart.recv_state_RNO_2[2] 11 27 5 #SB_LUT4
set_location my_uart.rx_bits_remaining_RNO_1[3] 7 25 7 #SB_LUT4
set_io LED_o[7] C3
set_io LED_o[3] A1
set_io LED_o[6] B3
set_io LED_o[4] C5
set_io LED_o[2] A2
set_io LED_o[0] B5
set_io CLK_i J3
set_io RS232_RX_i B10
set_io LED_o[5] C4
set_io LED_o[1] B4
